// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "bootstrap";
@import "font-awesome";

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.brand {
  height: 300px;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.brand,
.address-bar {
  display: none;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  height: auto !important;
  display: inline;
}

.navbar-nav {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}

.brand-before,
.brand-name {
  text-transform: capitalize;
}

.brand-before {
  margin: 15px 0;
}

.brand-name {
  margin: 0;
  font-size: 4em;
}

.box {
  margin-bottom: 20px;
  padding: 30px 15px;
  background: #fff;
  background: rgba(255,255,255,0.9);
}

@media screen and (min-width:768px) {
  .brand {
    width: 100%;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 4em;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    display: table;
  }

  .brand h1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .row {
    -webkit-justify-content: center; /* Safari */
    justify-content:   center;
  }

  .address-bar {
    display: inherit;
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
  }

  .navbar {
    border-radius: 0;
  }

  .navbar-header {
    display: none;
  }

  .navbar {
    min-height: 0;
  }

  .navbar-default {
    border: none;
    background: #fff;
    background: rgba(255,255,255,0.9);
  }

  .nav>li>a {
    padding: 35px;
  }

  .navbar-nav>li>a {
    line-height: normal;
  }

  .navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
  }
}

@media screen and (min-width:1200px) {
  .box:after {
    content: '';
    display: table;
    clear: both;
  }
}