// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "bootstrap";
@import "font-awesome";

body {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: url('../img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}